@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.contact {
  display: flex;
  font-family: "Open Sans", sans-serif;
  margin: 80px;

  // flex-direction: column;

  &__title {
    font-weight: 200;
    font-size: 80px;
    margin-bottom: 0px;
  }

  &__text {
    margin-top: 0px;
  }

  &__list {
    list-style: none;
    font-size: 30px;
    color: black;
    margin-top: 0px;
  }

  &__section {
    padding-right: 30px;
    padding-top: 30px;
    position: relative;
    border-radius: 30px;
    background-color: rgb(201, 175, 187);
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__socials {
    margin-right: 30px;
    font-size: 30px;
    color: black;
  }

  &__socials:hover {
    color: rgb(201, 175, 187);
  }

  &__btn {
    background: transparent;
    font-size: 30px;
    color: white;
    border: none;
    text-align: right;
    margin-bottom: 0px;
    position: absolute;
    right: 30px;
    top: 15px;
  }

  &__btn.clicked {
    color: black;
  }

  &__listItem {
    margin-top: 0px;
    padding-top: 0px;
  }
}

@media screen and (max-width: 1096px) {
  .contact {
    flex-direction: column;
    gap: 30px;

    &__text {
      width: 70vw;
    }
  }
}

@media screen and (max-width: 705px) {
  .contact {
    flex-direction: column;
    gap: 30px;
    margin: 30px;
    justify-content: right;
    align-items: center;

    &__text {
      width: 70vw;
    }

    &__section {
      width: 100vw;
      border-radius: 0px;
    }

    &__email {
      font-size: 25px;
    }
  }
}
