@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.home {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  margin: 100px;
  font-size: 20px;
  display: flex;
  position: relative;
  z-index: 1000;
  flex-wrap: wrap;

  flex-direction: column;

  &__title {
    font-size: 70px;
    margin-bottom: 0px;
  }

  &__img {
    width: 35vw;
    position: absolute;
    right: 70px;
    top: -70px;
  }
}

.background {
  position: absolute;
  right: 70px;
  top: 80px;
  z-index: -1;
  height: 250px;
  width: 50vw;
  background-color: transparent;
  background-image: linear-gradient(
    45deg,
    rgb(170, 220, 236) 25%,
    transparent 25%,
    transparent 50%,
    rgb(170, 220, 236) 50%,
    rgb(170, 220, 236) 75%,
    transparent 75%,
    transparent
  );
  background-size: 8px 8px;
  background-repeat: repeat;
  background-position: 0 0;
  background-origin: content-box;
  background-clip: content-box;
}

span {
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: black;
  text-align: end;
  text-decoration: underline;
  text-decoration-color: rgb(170, 220, 236);
}

@media screen and (max-width: 1343px) {
  .home {
    &__title {
      font-size: 60px;
    }
  }
}

@media screen and (max-width: 1234px) {
  .home {
    &__title {
      font-size: 50px;
    }
  }

  .background {
    right: 70px;
    top: 50px;
    height: 200px;
  }
}

@media screen and (max-width: 1070px) {
  .home {
    &__img {
      right: 0px;
    }
  }
}

@media screen and (max-width: 983px) {
  .home {
    margin: 20px;
    &__img {
      right: 120px;
      top: -40px;
    }
  }
}

@media screen and (max-width: 931px) {
  .home {
    &__img {
      right: 50px;
    }
  }
}

@media screen and (max-width: 825px) {
  .home {
    &__img {
      position: unset;
      height: 250px;
      width: 250px;
      border-radius: 50%;
      background-color: transparent;
      background-image: linear-gradient(
        45deg,
        rgb(170, 220, 236) 25%,
        transparent 25%,
        transparent 50%,
        rgb(170, 220, 236) 50%,
        rgb(170, 220, 236) 75%,
        transparent 75%,
        transparent
      );
      background-size: 8px 8px;
      background-repeat: repeat;
      background-position: 0 0;
      background-origin: content-box;
      background-clip: content-box;
    }

    &__info {
      display: flex;
      flex-direction: column-reverse;
    }

    &__info > :nth-child(2) {
      order: -1;
    }
  }
  .background {
    // height: 400px;
    // width: 400px;
    // border-radius: 50%;
    // position: unset;
    display: none;
  }

  .home > :nth-child(1) {
    justify-content: center;
    align-items: center;
  }

  .link {
    text-align: center;
  }
}

@media screen and (max-width: 546px) {
  .home {
    margin-top: 120px;
  }
}
