@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.about {
  font-family: "Open Sans", sans-serif;
  margin: 80px;
  margin-top: 0px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    width: 50vw;
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(244, 201, 180);
    text-align: justify;
  }
}

.skills {
  &__list {
    list-style: none;
    margin: 20px;
    gap: 15px;
    text-align: end;
  }

  &__listItem {
    margin: 15px;
  }

  &__icon {
    margin-right: 10px;
    color: rgb(247, 191, 162);
  }

  &__title {
    display: none;
  }
}

@media screen and (max-width: 1096px) {
  .about {
    flex-direction: column;
    margin: 0px;
    text-align: left;

    &__text {
      width: 80vw;
      text-align: left;
    }
  }

  .skills {
    &__listItem {
      text-align: center;
      // flex-basis: 50%;
      width: fit-content;
      margin: 0px;
    }
    &__title {
      font-family: "Open Sans", sans-serif;
      font-weight: 100;
      text-align: start;
      font-size: 140px;
      display: block;
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 558px) {
  .about {
    margin-top: 50px;
  }
}
