.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

@media screen and (max-width: 850px) {
  .grid {
    flex-wrap: wrap;
    justify-content: center;
  }

  .grid_column {
    width: calc(50% - 5px);
    margin-left: 10px;
    margin-bottom: 30px;
  }
}
